
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}




.Container1 {
width: 100%;
height: 65px;
top: -5px;
gap: 0px;
opacity: 0px;
margin: auto;
background-color: #1E437B;
display: flex;
justify-content: space-between;
align-items: center;

}

.icons_1 {
width: 136px;
height: 29px;
top: 8px;
margin-left: 157px;
gap: 0px;
opacity: 0px;
display:flex;
justify-content: center;


}

.Para1 {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t1 {
width: 130px;
height: 33px;
top: 8px;
margin-right:10px;
padding-top: 12px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24.2px;
text-align: left;
color: #FFFFFF;


}
  
.t2 {
    font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24.2px;
text-align: left;
padding-top: 15px;
color: #FFFFFF;
margin-right: 90px;
letter-spacing: 2px;

}

.footer_1 {
    width: 100%;
    height: 226px;
    background-color: #313131;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}


.ht_2 {
    font-family: Inter;
font-size: 25px;
font-weight: 20;
line-height: 24.2px;
color: #FFFFFF;
margin-left: 550px;

}
.img_1 {
    width: 171px;
height: 85px;
top: 55px;
margin-left: 150px;
gap: 0px;
opacity: 0px;

}

.img_2 {
width: 171px;
height: 85px;
top: 55px;
margin-left: 181px;
gap: 0px;
opacity: 0px;
padding-top: 8px;


}


.bar_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #fff;
    border-width: 2.5px;
    border-style: solid;
    height: 110px;
    width: 100%;
    }


.buttons_1 {
margin-right: 40px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 30px;

    }

/*.home_1 {

width: 95px;
height: 40px;
background-color: rgba(0, 133, 255, 1);
border:none;
font-family: Inter;
font-size: 18px;
font-weight: 300;
line-height: 24.2px;
padding-right: 100px;
color: #FFFFFF;
text-decoration: underline;
padding-right: 11px;
padding-top: 2px;
border-radius: 20px;



}
*/


.home_1 {

    width: 85px;
    height: 33px;
    
    border:none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24.2px;
    margin-right: 80px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 11px;
    padding-top: 4px;
    border-radius: 20px;
    
    
    
    }

    .register {
        width: 110px;
            height: 33px;
        padding-right: 9px;
        padding-top: 4px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 24.2px;
        margin-left: 22px; ;
        margin-right: 2rem;
        border: none;
        border-radius: 20px;
        }
        
        .login {
        
            width: 85px;
            height: 33px;
        padding-right: 9px;
        padding-top: 4px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 24.2px;
        margin-left: 50px;
        border: none;
        border-radius: 20px;
        
        }
        
        .start_sale {
            width: 130px;
            height: 33px;
        padding-right: 8px;
        padding-top: 4px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 24.2px;
        
        border: none;
        border-radius: 20px;
        }



.bar_background {
    background-image: url(../assets/image/background.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.layer_background {
    background-image: linear-gradient(rgba(15, 15, 15, 0.8),
    rgba(32, 32, 32, 0.8));

}
    
        
    
.website_links {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
}


.px-01{

    border-radius:20px;
    justify-content:center;
    opacity:70% ;
    

}


.lb {
background-color:rgba(30, 67, 123, 1);
border: none;

}





.heading_1 {

    
font-family: Inter;
font-size: 90px;
font-weight: 700;
line-height: 77.45px;
text-align: center;
color: #FD8901;
margin-top: 100px;
}
.heading_2 {
font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 77.45px;
text-align: center;
color: #FFFFFF;


}
.heading_3 {
    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29.05px;
text-align: center;
color: #FFFFFF;
padding-bottom: 50PX;

}
.hp_fr {

    margin-top: 12rem;
}


.custom-button-group {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fb_1 {

    background-color: #fff;
    color: black;
    width: 260px;
    height: 70px;
    border: none;
    border-radius: 0%;
    font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 21.78px;
text-align: center;


}

.fb_2 {

    background-color: #fff;
    color: black;
   
    width: 260px;
    height: 70px;
    border-left: #313131;
    border-radius: 0%;
    font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 21.78px;
text-align: center;
border: none;


}
.fb_3 {

    background-color: #fff;
    color: black;
    border-radius: 0%;
    width: 260px;
    height: 70px;
    border-left: #313131;
    font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 21.78px;
text-align: center;
border: none;

}

.custom-button-group2 {
display: flex;
justify-content: center;
align-items: center;
padding-top: 15px;
gap: 10px;
padding-bottom: 20px;

}

.fb_4 {
width: 385px;
background: transparent;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
text-align: center;
border-color:#FEFEFE;
border: 2px solid;



}

.fb_5 {
    width: 385px;
    background: transparent;
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
text-align: center;
border-color:#FEFEFE;
border: 2px solid;

    
    }
    
.editable_dropdowns {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 30px;
    

}   

.d_1 {
width: 190px;
height: 39px;
top: 580px;
gap: 0px;
border: radius 0;
border: 0.5px 0px 0px 0px;
opacity: 0px;
text-align: center;
background-color: #FEFEFE;
}

.d_2 {
    width: 190px;
    height: 39px;
    top: 580px;
    gap: 0px;
    border: radius 0;
    border: 0.5px 0px 0px 0px;
    opacity: 0px;
    text-align: center;
    background-color: #FEFEFE;

}

.d_3 {
    width: 190px;
    height: 39px;
    top: 580px;
    gap: 0px;
    border: radius 0;
    border: 0px 0px 0px 0px;
    opacity: 0px;
    text-align: center;
    background-color: #FEFEFE;

}


.d_4 {
    width: 190px;
    height: 39px;
    top: 580px;
    gap: 0px;
    border: radius 0;
    opacity: 0px;
    text-align: center;
    background-color: #FEFEFE;

}




.fb_6 {
    width: 185px;
    background: transparent;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    border-color:#FEFEFE;
    border: 2px solid;
    
}
.fb_7 {
    width: 180px;
    background: transparent;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    border-color:#FEFEFE;
    border: 2px solid;
    
}
.fb_8 {
    width: 180px;
    background: transparent;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    border-color:#FEFEFE;
    border: 2px solid;
    
}
.fb_9 {
    width: 185px;
    background: transparent;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    border-color:#FEFEFE;
    border: 2px solid;
    
} 

.search_Button {
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 200px;
padding-top: 20px;




}
.fb_10 {
    width: 185px;
    height: 40px;
    padding-top: 8px;
    background-color:rgba(0, 133, 255, 1);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    border: none;
    
} 

.Message_logo {
   
float: right;
margin-top: 3rem;
margin-right: 3rem;
    
 }

 .hp_l1 {

    height: 12rem;
 }

.ch_1 {

width: 300px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19.36px;
text-align: left;
margin-left: 100px;
padding-top: 30px;


}
.cb_1{
    background-color:#0085FF;
    color: white;
    width: 160px;
    height: 50px;
    border-color: #0085FF;;
    border-radius: 10px 0px 0px 10px;
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 21.78px;
text-align: center;

}

.cb_2{
    background-color: skyblue;
    color: black;
    width: 160px;
    height: 50px;
    border-color: skyblue;
    border: none;
    border-radius: 0px !important;
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 21.78px;
text-align: center;

}
.cb_3{
    background-color:skyblue;
    color: black;
    width: 160px;
    height: 50px;
    border-color: skyblue;
    border-radius: 0px 10px 10px 0px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;

}
.card_buttons1 {

    margin-left: 100px;
    margin-bottom: 40px;
    
}


.card_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 700px;
    top: 1217px;
    left: 138px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(240, 240, 240, 1);
    

    
}


.cimg_1 {
    width: 500px;

}

.card_section1 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 90px;
    
    
}
.card_1 H1 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;
    color: #1E437B;
    padding-top: 15px;
    padding-bottom: 13px;
    

}

.card_1 H1 Span {
    font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24.2px;
text-align: center;
color: black;

}

.card_1 H2 {
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    line-height: 20.57px;
    text-align: center;
    padding-top: 10px;
    

}

.card_1 H3 {
    font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 12.1px;
text-align: center;
color: rgba(30, 30, 30, 1);


}
.card_1 H4 {
    font-family: Inter;
font-size: 40px;
font-weight: 500;
line-height: 48.41px;
text-align: center;
color: rgba(57, 89, 170, 1);

}

.card_1 H5 {

    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: center;
color: rgba(30, 30, 30, 1);
}


.card_1 H6 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    color: rgba(30, 30, 30, 1);

    


}
.card_1 H7 {


font-family: Inter;
font-size: 15px;
font-weight: 700;
line-height: 18.15px;
text-align: center;
padding-bottom: 10px;

}

.cardbutton_1 {

    width: 300px;
}
.form_logo {

    width: 300px;
    height:240px;
    
}



.form_background {

background: linear-gradient(rgba(15, 15, 15, 0.8),
rgba(32, 32, 32, 0.8));
box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);



}


.email_address {

    color: #FEFEFE;
    font-size: 18px;
    padding-top: 15px;

}
.password_o {
    color: #FEFEFE;
    font-size: 18px;
    padding-top: 15px;


}
.text-muted1 {
color: #FEFEFE;
font-size: 18px;


}



.ms-5 {
    color: #FEFEFE;
font-size: 18px;



}
.link-info1 {

font-size: 30px;
color: #FEFEFE;
font-weight: 350;



}
/*Add Listing Page Styling*/


.drawer_img {
width: 16rem;
height: 16rem;
margin-bottom: 3rem;


}


.drawer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*START_SALE styling*/


.dummy_1 {


    margin-top: 1rem;
    height: 3rem;

}

.dummy_2 {
    margin-top: 3rem;
    height: 3rem;
    height: 5rem;

}
.ss{

    margin-top: 3rem;
    border: none;
}
.buttons_startsale {

    font-size: 10rem;
}

.fh_startsale {

    font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 38.73px;
text-align: left;
padding-top: 2.5rem;

}

.sh_startsale {


    font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24.2px;
text-align: left;
color: rgba(0, 133, 255, 1);
padding-top: 0.5rem;

}

.th_startsale {


    font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 29.05px;
text-align: left;
color: rgba(58, 58, 58, 1);
margin-top: 3rem;
padding: 3rem;
border-style: groove;
border-width: 0.2px;
border-radius: 5px;
border-color: rgba(0, 0, 0, 0.3);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
height: 4rem;
display: flex;
align-items: center;




}
.border_1 {

    border-style: groove;
    border-width: 0.2px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
}


.first_row {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.second_row {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
}


.third_row {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;

}


.fourth_row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}


.fifth_row {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

}

.ss_img {

    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
    margin: 3rem;
    

}

.ss_img2 {
    font-family: Inter;
    font-size: 17px;
    font-weight: 510;
    line-height: 19.36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 3rem;
    


}
.checkbox_1 {
margin: 2rem !important;


}

.ss_button1{

display:flex;
justify-content: space-around;
align-items: center;
margin-bottom: 5rem;
margin-top: 5rem;

}

.ss_bs1 {

    width: 15rem;
    height: 3rem;
    background-color: rgba(0, 133, 255, 0.72);
    border: none;
}

.ab_sales {

margin-bottom: 0rem;
margin-top: 0rem;
padding-top: 0;
position:fixed;
border-style:groove;
    border-color: rgba(0, 0, 0, 0.3);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    
}

.icon_sale1 {


    display: flex;
    align-items:flex-end;
    justify-content:right;
    padding-bottom: 2rem;
    
}

.s1 {

    font-size: 5rem !important;
}

.s2 {

    font-size: 5rem !important;
}
.s3 {

    font-size: 5rem !important;
}


/*login button enlarges issue resolved*/


.lb007 {      

    width: 10rem;
    height: 3rem;
}
/*Favorites Page Styling */
.yt_iconfp {

    color: red;
    float: inline-start;
}
.fb_g1 {


    background-color: rgba(58, 181, 75, 1);
    border: none;
    width: 6rem;
    border-radius: 2rem;
}

.fb_g2 {
    background-color: rgba(0, 133, 255, 1);
    border: none;
    width: 6rem;
    border-radius: 2rem;



}


.date_1_1 {

    font-family: Inter;
    font-size: 18px;
    font-weight: 450;
    line-height: 19.36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    

}

.head_1_1 {

    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: rgba(128, 123, 123, 1);
    }





    .my_adb {

        font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 29.05px;
text-align: left;
color: rgba(58, 58, 58, 1);
margin-top: 3rem;
padding: 3rem;
border-style: groove;
border-width: 0.2px;
border-radius: 5px;
border-color: rgba(0, 0, 0, 0.3);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
height: 4rem;
display: flex;
justify-content: space-between;
align-items: center;
    }

/*Profile page styling*/



    .psborder_1 {

        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        gap: 2rem;    
    }
    


.ps1 {

    width: 14rem;
}


/* profile section (seller Page) first page styling */

.pstext_1 {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    padding: 2rem;
    
}

.psp_1 p {


    font-family: Raleway;
font-size: 18px;
font-weight: 400;
line-height: 23px;
text-align: left;


}


.psp_1 {
    font-family: Raleway;
    font-size: 18px;
    line-height: 14.09px;
    text-align: left;
    
}
.logo_lorum12 {


    width: 17rem;
    height: 17rem;
}
.logo_section1 {


    display: flex;
    justify-content: left;
    align-items: center;
    gap:1rem;
    margin-top: 5rem;
}

.psmx-2 {


    background-color: rgb(104, 170, 5);
    border: none;
    border-radius: 15px !important;
    width: 5rem;
}


.psmx-2_1 {


    background-color: rgb(17, 3, 94);
    border: none;
    border-radius: 15px !important;
    width: 5rem;
}


.psbd_1 {

display: flex;
justify-content: left;
align-items: center;
    gap: 2rem;
    padding-top: 15px;
}

.psch_1 h1 {


    font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 24.2px;
text-align: left;
padding-top: 2.5rem;

}

.psch_1 h2 {


    font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
padding-top: 5px;


}
.psch_1 h3 {


    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
padding-top: 5px;


}
.rating_1 {

    font-size: 10px;

}








.seller_d1 {

    border-color:rgb(39, 34, 34) !important;
    height: 3rem !important;
    border-style: solid !important;
    border-width: 0.19rem !important;
    opacity: 50% !important;
}


.seller_d11 {

    border-color:rgb(39, 34, 34) !important;
    height: 3rem !important;
    border-style: solid !important;
    border-width: 0.19rem !important;
    opacity: 50% !important;
    margin-bottom: 1.5rem !important;
}


.seller_d12 {

    text-align: center !important;
    border-color:rgb(39, 34, 34) !important;
    height: 3rem !important;
    border-style: solid !important;
    border-width: 0.19rem !important;
    opacity: 50% !important;
}



.seller_search_button{

    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    
    }
    
    .s_s_bt1 {
    
        width: 25rem;
        height: 3rem;
        background-color: rgba(0, 133, 255, 0.72);
        border: none;
    }
    
.st_hh1 {


    height: 4rem;
}

.s_head_1_1 {


    text-align: center !important;

    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: rgba(128, 123, 123, 1);
    }
    .sfb_g1 {


        background-color: rgba(58, 181, 75, 1);
        border: none;
        width: 6rem;
        border-radius: 2rem;
    
    }
    
    .sfb_g2 {
        background-color: rgba(0, 133, 255, 1);
        border: none;
        width: 6rem;
        border-radius: 2rem;
    
    
    
    }


    .sb_1_container1 {

        text-align: center;
    }


    .ss_tb1 {


        margin-bottom: 45rem;
    }




    .ss_logoimg {


        float: right;
        padding-top: 9rem;
        padding-right: 2rem;

    }

    .ss_logoimg1 {


        height: 12rem;


        

    }
/* profile section (seller Page) first page styling Ends Here */

.table-responsive {
    max-height: 200px;
    overflow: scroll;
  }







